[Unit]
Description=Accounts service

[Service]
User=system
Group=system
Type=simple
ExecStart=/usr/bin/account-svcd

[Install]
WantedBy=multi-user.target
